@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-blueGradientButtonStart: #2E00D0; 
    --color-blueGradientButtonMiddle: #002A68; 
    --color-blueGradientButtonEnd: #000850; 
    --color-blueRadialInner: #130065;
    --color-blueRadialOuter: #0B0035;
    --color-selectionBlue: #0080ff;
    --color-blueDropShadow: #007AE5;
    --color-cyanBlue: rgba(0, 219, 226);
    --font-jakarta: "Plus Jakarta Sans", serif; 
    --font-orbitron: "Orbitron", sans-serif;
}

* {
    scroll-behavior: smooth;
}

img {
    user-select: none;
}

/* Scrollbar utama */
::-webkit-scrollbar{
    display: none;
}

/* END PRELOADER */
.astro {
    position: absolute;
}

/* astro-biasa tampil dulu, lalu hilang, lalu tampil lagi */
.astro-biasa {
    animation: astroSwitch1 1.5s infinite steps(1);
}

/* astro-melet tampil setelah astro-biasa, lalu hilang */
.astro-melet {
    animation: astroSwitch2 1.5s infinite steps(1);
}

/* ganti gambar secara bergantian setiap 1 detik */
@keyframes astroSwitch1 {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0; }
}

@keyframes astroSwitch2 {
    0%, 49% { opacity: 0; }
    50%, 100% { opacity: 1; }
}

.rocket {
    background-color: #fafcf7;
    height: 50px;
    width: 25px;
    border-radius: 50% 50% 0 0;
    position: relative;
    left: -11px;
    top: 112px;
    overflow: visible;
}

.rocket:before {
    content: "";
    position: absolute;
    background-color: #39beff;
    height: 20px;
    width: 55px;
    border-radius: 50% 50% 0 0;
    z-index: 1;
    right: -15px;
    bottom: 0;
}

.rocket:after {
    content: "";
    position: absolute;
    background-color: #39beff;
    height: 4px;
    width: 15px;
    border-radius: 0 0 2px 2px;
    bottom: -4px;
    left: 4.3px;
}

.rocket .fire {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 30px;
    background: radial-gradient(
        ellipse at center,
        #ffec85 0%,
        #ffae34 40%,
        #ec760c 70%,
        #cd4606 90%,
        rgba(0, 0, 0, 0) 100%
    );
    border-radius: 50%;
    animation: flame 0.3s infinite alternate;
    z-index: -1;
}

@keyframes flame {
    0% {
        transform: translateX(-50%) scaleY(1);
        opacity: 0.9;
    }
    100% {
        transform: translateX(-50%) scaleY(1.4);
        opacity: 0.5;
    }
}

.rocket .gas {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: rgba(200, 200, 200, 0.6);
    border-radius: 50%;
    animation: gas 1.5s infinite ease-out;
}
.rocket .gas:nth-child(3) {
    animation-delay: 0.3s;
    left: 40%;
}
.rocket .gas:nth-child(4) {
    animation-delay: 0.6s;
    left: 60%;
}

@keyframes gas {
    0% {
        transform: translateX(-50%) scale(0.5);
        opacity: 0.8;
    }
    100% {
        transform: translateX(-50%) translateY(40px) scale(1.8);
        opacity: 0;
    }
}

.window {
    background-color: #151845;
    height: 10px;
    width: 10px;
    border: 2px solid #b8d2ec;
    border-radius: 50%;
    position: relative;
    top: 17px;
    left: 5px;
}

.dots::after {
    content: "";
    display: inline-block;
    animation: dots 2s steps(4, end) infinite;
    text-align: left;
}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}


/* Preloader */
#loader-wrapper {
    @apply visible;
    opacity: 1;
}

#loader-wrapper.hidden-wrapper {
    @apply pointer-events-none;
    opacity: 0;
}
/* END PRELOADER */

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #0261b5;
}

/* TRANSITION HAMBURGER ICON */
.navbar-fixed {
    @apply fixed z-50 bg-black/10;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.navbar-absolute {
    /* backdrop-filter: blur(4px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2); */
    position: absolute;
    z-index: 25;
    top: calc(var(--spacing) * 0);
    left: calc(var(--spacing) * 0);
}

.dropdown-appear {
    @apply bg-blueRadialOuter/80 border-b border-white/20;
}

.dropdown-hidden {
    @apply bg-transparent border-0;
}

.nav-icon {
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
}

.nav-icon span {
    position: absolute;
    width: 50%;
    height: 3px;
    background: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-icon span:nth-child(odd) {
    /*1,3,5*/left: 0;
    border-radius: 9px 0 0 9px;
    -webkit-border-radius: 9px 0 0 9px;
    -moz-border-radius: 9px 0 0 9px;
    -ms-border-radius: 9px 0 0 9px;
    -o-border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even){
    /*2,4,6*/left: 50%;
    border-radius: 0 9px 9px 0;
    -webkit-border-radius: 0 9px 9px 0;
    -moz-border-radius: 0 9px 9px 0;
    -ms-border-radius: 0 9px 9px 0;
    -o-border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 0;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    /* top: 13px; */
    top: 10px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    /* top: 26px; */
    top: 20px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1) {
    top: 8px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 150%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 19px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 19px;
    left: calc(50% - 5px);
}
/* Navbar CSS */

/* ### HERO SECTION */
.glow-blue-img {
    /* filter: drop-shadow(0px 0px 25px rgba(0, 122, 229, 0.6));
    -webkit-filter: drop-shadow(0px 0px 25px rgba(0, 122, 229, 0.6)); */
    box-shadow: 0 0  100px black;
}

.glow-blue {
    filter: drop-shadow(0 0 20px rgba(0, 122, 255));
}

.glow-blue-2 {
    filter: drop-shadow(0 0 20px rgba(0, 219, 226));
}

/* ANIMATION */
.stars-container, .stars-container-preloader {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0; /* pastikan di belakang konten */
}

.star {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
    /* animation: twinkle 2s infinite ease-in-out, moveStars 60s linear infinite; */
}

@keyframes twinkle {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0.3; }
}

@keyframes moveStars {
    0% { transform: translateX(0); }
    100% { transform: translateX(120vw); }
}

.planet {
    animation: float 6s ease-in-out infinite;
}

/* Gerakan naik turun */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}


/* === ANIMASI SCALE === */
@keyframes scaleStar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

/* Kelas animasinya */
.star-long, .star-wide {
    animation: 
    scaleStar 2s ease-in-out infinite;
}

/* === ANIMASI SCALE === */
@keyframes scaleDiesnat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.logo-diesnat {
    animation: scaleDiesnat 4s ease-in-out infinite;
    transition: transform 0.4s ease, filter 0.4s ease;
}

/* === HOVER EFFECT === */
.logo-diesnat:hover {
    animation-play-state: paused;
    transform: scale(1);
    filter: drop-shadow(0 0 12px rgba(0, 122, 255, 0.8));
}

/* ANIMATION */

/* Button BackToHIMTIKA */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 255, 255);
  }

  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* text */
  .text {
    /* position: absolute;
    right: 0%; */
    width: 0%;
    opacity: 0;
    color: rgba(255, 255, 255);
    background-color: rgb(10, 198, 194);
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 160px;
    border-radius: 40px;
    transition-duration: .3s;
    box-shadow: 0px 0px 15px 1px rgba(11, 223, 219);
  }

  .Btn:hover .sign {
    width: 35%;
    transition-duration: .3s;
    padding-left: 5px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 65%;
    transition-duration: .3s;
    /* padding-right: 5px; */
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
/* Button BackToHIMTIKA */

/* Button Get Started */
.button {
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    -ms-border-radius: var(--border_radius);
    -o-border-radius: var(--border_radius);
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle,
        #130065 0%,  /* biru luar */
        #0B0035 100%  /* biru dalam */
    );
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
        0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
        0 0 0 calc(var(--active, 0) * 0.375rem) hsla(0, 0%, 0%, 0.1);
    transition: all var(--transtion);
    z-index: 0;
}

.button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsla(253, 100%, 41%, 0.75); 
    background-image: radial-gradient(
        at 51% 89%,
        hsla(253, 65%, 65%, 1) 0px,
        transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(246, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(246, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
}

.button:is(:hover, :focus-visible) {
    --active: 1;
}
.button:active {
    transform: scale(1);
}

.button .dots_border {
    --size_border: calc(100% + 2px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
    border-radius: var(--border_radius);
    z-index: -10;
}

.button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
    width: 100%;
    height: 2rem;
    background-color: white;
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.button .sparkle {
    position: relative;
    z-index: 10;
    width: 2rem;
}

.button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
}
.button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
}
.button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
}

@keyframes path {
    0%,
    34%,
    71%,
    100% {
        transform: scale(1);
    }
    17% {
        transform: scale(var(--scale_path_1, 1));
    }
    49% {
        transform: scale(var(--scale_path_2, 1));
    }
    83% {
        transform: scale(var(--scale_path_3, 1));
    }
}

.button .text_button {
    position: relative;
    z-index: 10;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: transparent;
}
/* Button Get Started */
/* ### HERO SECTION */

/* ### MAKE A WISH SECTION */
/* Container */
.wish-container, .logo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    transition: opacity 0.5s, transform 0.5s;
}

.maskot-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s;
}

.wish-slide, .logo-slide, .maskot-slide {
    display: none;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.wish-slide.active, .logo-slide.logo-active, .maskot-slide.maskot-active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
    position: relative;
}

.left, .logo-left, .maskot-left {
    align-items: normal;
}
/* Container */

/* Navigasi */
.wish-nav, .logo-nav, .maskot-nav {
    position: absolute;
    top: 50%;
    right: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translateY(-50%);
}

.wish-nav button, .logo-nav button, .maskot-nav button {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 4px solid rgba(11, 223, 219);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.wish-nav button:hover, .logo-nav button:hover, .maskot-nav button:hover {
    background: #D2B2FF;
    transform: scale(1.1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wish-dots, .logo-dots, .maskot-dots {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wish-dot, .logo-dot, .maskot-dot {
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.wish-dot.wish-active, .logo-dot.logo-active, .maskot-dot.maskot-active {
    transform: scale(1.4); 
    background: rgba(11, 223, 219); 
}
/* Navigasi */
/* ### MAKE A WISH SECTION */

/* ### GALLERY SECTION */
.slide {
    perspective: 100px;
    /* box-shadow: 0px 0px 10px 1px rgba(0, 122, 255, 0.8); */
    position: relative;
    /* filter: drop-shadow(0 0 12px rgba(0, 122, 255, 0.8)); */
}

.slide img {
    width: 100%;
    transition: transform 1%;
    transition: all 0.8s;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 6px 1px rgba(0, 122, 255);
}

.slide:hover img {
    transform: translateZ(4px);
    transition: all 0.8s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* semi-transparan */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    border-radius: 10px;
    pointer-events: none; /* biar klik tetap ke gambar */
    z-index: 99;
    transition: transform 1%;
    transition: all 0.8s;
}

.slide:hover .overlay {
    opacity: 1;
    transform: translateZ(4px);
    transition: all 0.8s;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 97%;
    max-width: 1600px;
    height: 95vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
    z-index: 51;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name {
    opacity: 0;
}

.close-btn {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @apply bg-selectionBlue;
    cursor: pointer;
}

.arrow-btn {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow-btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.index {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(0, 122, 255, 0.8);
    opacity: 0;
    @apply font-jakarta;
}

.large-image {
    /* margin-top: 5%; */
    width: 92%;
    height: 92%;
    object-fit: contain;
    opacity: 0;
}
/* ### GALLERY SECTION */

/* ### FAQ SECTION */
.container-accordion {
  /* margin: 0;
  margin-bottom: 5em;
  width: 600px; */
}

.container-accordion li label i {
    position: relative;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease, color 0.3s ease;
}

.container-accordion input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
}

input[type="checkbox"] {
  display: none;
}
.container-accordion .content {
    color: #ffffff;
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out,
        opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container-accordion input[type="checkbox"]:checked + label + .content {
    max-height: 500px;
    padding-top: 15px;
    padding-bottom: 10px;
    opacity: 1;
    transform: scale(1);
    margin-top: 8px;
}

#faq-section .button-with-icon-faq {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    padding: 0 12px;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: white;
    transform: translateY(0px);
    position: relative;
    margin-bottom: 1rem;
    box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #FFFFFF,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #2E00D0, #002A68, #000850);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    transition: 150ms all ease-in-out;
}

#faq-section .button-with-icon-faq .icon-faq {
    color: #FFFFFF;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
}

#faq-section .button-with-icon-faq:active {
    transform: translateY(3px);
    border: 1px solid #000850;
    box-shadow:
    inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1),
    0 0 0 #2A049C,
    0 0 0 2px rgba(19, 0, 101, 0.5),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

#faq-section .button-with-icon-faq .text-faq {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}
#faq-section .button-with-icon-faq:hover .text-faq {
    transform: translateX(110px);
}
#faq-section .button-with-icon-faq:hover .icon-faq {
    transform: translate(50px);
}

/*========= CONTACT SECTION =========*/
.popup-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 51;
    padding: 0 24px;
    @apply font-jakarta;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.popup-contact .form-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 30px; */
    border-radius: 20px;
    position: relative;
    background: linear-gradient(180deg, #2E00D0, #002A68, #000850);
    animation: slideIn 0.5s ease-out;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.form-contact.slide-out {
    animation: slideOut 0.5s ease-in forwards;
}

.close-btn-contact {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #FFFFFF;
}
.title-contact {
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    @apply font-orbitron;
}

.message-contact {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}

.flex-contact {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form-contact label {
    position: relative;
}

.form-contact label .input-contact {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
.form-contact label textarea.input-contact {
    resize: none;
}
.form-contact label .input-contact + span {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form-contact label .input-contact:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form-contact label .input-contact:focus + span,
.form-contact label .input-contact:valid + span {
    color: #2E00D0;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input-contact {
    font-size: medium;
}
.submit-contact {
    border: none;
    outline: none;
    padding: 10px 30px; /* Menyesuaikan ukuran tombol */
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #C3AFFF; /* Warna latar tetap ada */
    color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

.submit-contact::before {
    content: "Submit"; 
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #5F29FF, #2A049C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.submit-contact:hover {
    background-color: white;
}

.submit-contact:active {
    box-shadow: inset 0 16px 2px -15px rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    background: linear-gradient(to bottom, #2E00D0, #002A68, #000850);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    color: white;
}

/* ### FAQ SECTION */